/* movieTypeCharts */
#movieTypeCharts {
    width: 100%;
}

#movieTypeCharts .mt-chart-item {
    width: 100%;
}

#movieTypeCharts .mt-chart-item .mt-chart-title {
    float: left;
    width: 18%;
    color: #59baf2;
    padding-right: 1vw;
    text-align: right;
}

#movieTypeCharts .mt-chart-item .mt-chart-label {
    float: left;
}

#movieTypeCharts .mt-chart-item .mt-chart-label img {
    width: 1vw;
}

#movieTypeCharts .mt-chart-item .mt-chart-content {
    float: left;
    width: 68%;
    margin-left: .5vw;
}

#mtChartSexItem,
#mtChartSexItem .mt-chart-title,
#mtChartSexItem .mt-chart-label,
#mtChartSexItem .mt-chart-label img,
#mtChartSexItem .mt-chart-content {
    height: 3vw;
    line-height: 3vw;
}

#mtChartTypeItem,
#mtChartTypeItem .mt-chart-title,
#mtChartTypeItem .mt-chart-label,
#mtChartTypeItem .mt-chart-label img,
#mtChartTypeItem .mt-chart-content {
    height: 10vw;
    line-height: 10vw;
}

/* end movieTypeCharts */
/* legend */
.mt-chart-legend {
    overflow: auto;
    height: 1vw;
    margin-left: 6vw;
    margin-top: 2vw;
}

.legend-item {
    float: left;
    height: 1vw;
    margin-left: 1.5vw;
}

.legend-item-color {
    float: left;
    height: .6vw;
    width: 1.2vw;
    border-radius: 30%;
    margin: .2vw 0 0 0;
}

.legend-item-title {
    float: left;
    height: 1vw;
    color: #fff;
    font-size: .8vw;
    margin: 0 0 0 .5vw;
}

/* end legend */
/* content right */
.content-right-body {
    position: relative;
    width: 90%;
    height: 21vw;
    margin: 2vw auto 0 auto;
}

.md-chart-item {
    width: 100%;
    height: 10vw;
}

.md-chart-split {
    width: 90%;
    margin: .1vw 5%;
    border-bottom: 1px dashed #0b318f;
}

/* end content right */
